@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");



body {
  background: linear-gradient(236.85deg, #041832 27.6%, #3468a7 96.03%);
  font-family: "Roboto", sans-serif;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Classe */
.container {
  background:#B2EDB4;
  color: #1c1c1c;
  /*   Margem */
  margin: 64px;
  /*   Raio da Borda */
  border-radius: 20px;
  /*   Sombra do Elemento */
  box-shadow: 6px 6px 6px #0e1d2f;
  padding: 64px;
}

.perfil {
  /* Estilizando o posicionamento dos elementos */
  display: flex;
  align-items: center;
}

.perfil-foto {
  border-radius: 500px;
  max-height: 200px;
  /*   Sombra */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.titulo {
  margin-left: 16px;
}

/* Especificando que a tag h1 a ser estilizada é a que está contida na tag cuja classe é .titulo(neste caso, a div) */
.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: 400;
  font-size: 24px;
}

.projetos {
  display: flex;
  flex-direction: column;
}

.projetos ul {
  font-weight: bold;
  font-size: 28px;
  line-height: 46px;
  text-align: center;
}
.projetos li {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  margin-left: 50px;
}

.ladinho {
  display: flex;
  align-items: center;
}

.ladinhoEsq {
  margin-left: 50px;
}



